<div id='footer'>
  <div class="row">
    <div class="col-md-12 text-center">
      <div role='contentinfo'>
        <p>Add /api/v1/restaurants to the home URL to get the API</p>
        <p>Add /api/v1/restaurants/:id to the home URL to get specific restaurant</p>
        <p>ID shows on a restaurant show page</p>
      </div>
    </div>
  </div>
</div>
